:root {
  --background: #181824;
  --foreground: #24273D;
  --border: #474B60;
  --font: #FFFBFF;
  --font-second: #505168;
  --placeholder: #77798E;
  --selected: #465B99;
  --error: #9a3946;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--font);
  font-family: sans-serif;
}

main {
  max-width: 640px;
  height: 100vh;
  margin: auto;
}

.title {
  font-size: 2.4rem;
  letter-spacing: .8rem;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground);
  box-shadow: 0 0 40px #0008;
  border-radius: 5px;
}

.container--filter {
  margin-bottom: 30px;
}

.error_span {
  color: var(--error);
  font-style: italic;
  font-family: .8rem;
}
