@import url(./index.css);

.title__container {
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title {
  flex-grow: 1;
  margin: 0;
}

.title--credentials {
  text-align: end;
  padding: 4px 8px;
  background-color: var(--foreground);
  border-radius: 4px;
  box-shadow: 0 0 10px #0008;
}

.user {
  font-size: 0.9rem;
  margin: 0;
  color: var(--font);
  cursor: default;
}

.logout {
  font-size: 0.8rem;
  color: var(--font-second);
  cursor: pointer;
}
.logout:hover {
  color: var(--selected)
}
